

<div id="card-message" class="my-chatbox my-card-message" *ngIf="hiden">
    <mat-card style="height:450px">
        <div (click)="viewProfile(selectedUser.userId)" class="mb-10 my-flex hover-pointer" style="line-height:50px">
            <div><img [src]="selectedUser.avatar" class="my-avatar" alt=""></div> 
            <div style="font-size:1rem; font-weight:500"> &nbsp;{{selectedUser.name}}</div>
            <div style="position:absolute; top:0px; right: 0px;"><button (click)="offMessage()" style="font-size: 1.7rem;" mat-button >x</button></div>
        </div>
        <mat-divider></mat-divider>
        <div class="message-history">
            <div *ngFor="let msg of messageHistory">

                <div *ngIf="msg.from !== user.userId && msg.from === selectedUser.userId">


                    <div class="my-flex  mt-10" style="line-height: 50px;">

                        <div><img [src]="selectedUser.avatar?selectedUser.avatar:'/assets/avatarBase.jpg'" alt="user" class="my-avatar"></div>
                        <div>  &nbsp; : {{msg.message}}</div>

                    </div>
                </div>
                <div *ngIf="msg.from === user.userId && msg.to === selectedUser.userId">
                    <div class="my-flex mt-10" style="line-height: 50px;" >
                        <div>
                            <img [src]="user.avatar?user.avatar:'/assets/avatarBase.jpg'" alt="user" class="my-avatar">
                        </div>
                        <div>
                            &nbsp; : {{msg.message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: absolute; bottom:5px; width:90% ;">
            <form  (ngSubmit)="sendMessage()">
                <div  >
                    <input  class="form-control" name="message" autocomplete="off" [(ngModel)]="message" type="text"
                        placeholder="Aa">
                </div>
            </form>
        </div>
    </mat-card>
</div>
