<div class=container>
  <div class="row row-infor">
    <div class="col-md-3">
      <mat-card>
        <div>
          <img
            src="https://1.bp.blogspot.com/-5n_rEz8D0b8/Xk556_wb4KI/AAAAAAAAVVM/Z-v6YSPT3swBVpUWfd7NOForHs-OYRHGACLcBGAsYHQ/s1600/Anh-Trai-Dep-20023456-Wap102%2B%25281%2529.jpg"
            alt="" style="width:100%; height:auto">
        </div>
        <h3>UserName</h3>
        <div>
          Trạng thái hoạt động
          <mat-slide-toggle>Slide me!</mat-slide-toggle>
        </div>
      </mat-card>
    </div>

    <div class="col-md-9 ">

      <div class="box">

          <div>
            <mat-card style="background-color: aquamarine"><h4>Thông tin tài khoản</h4></mat-card>
            <ul class="scrolling">
              <li>UserName</li>
              <li>Email</li>
              <li>Phone</li>
              <li>Status</li>
            </ul>
          </div>

          <div>
            <mat-card><h4>Thông tin Cá nhân</h4></mat-card>
            <ul class="scrolling">
              <li>Tên</li>
              <li>Email</li>
              <li>Phone</li>
              <li>Status</li>
            </ul>
          </div>

          <div >
            <mat-card><h4>Thông tin đăng ký dịch vụ</h4></mat-card>
            <ul class="scrolling">
                <li>Ra mắt người nhà</li>
                <li>Ra mắt bạn bè </li>
                <li>Sao gì mà dài tôi đi xa quá mà ko ra là sao hả trơi </li>
              </ul>

          </div>

      </div>

    </div>

  </div>

  <div class="row">
    <h3>Ảnh chân dung</h3>
    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>

