<div class="container">
    <div style="padding-top: 10px;">
        <h1 style="font-size:2rem; color:#ffffff;">Vui lòng liên hệ</h1>
    </div>
    <div>
  <a mat-button target="_blank" href="https://www.facebook.com/coaisat.tra/">  <div class="my-flex"  style="height: 40px; line-height: 40px;">
            
            <div>
 <img src="/assets/facebookIcon.png" class="infor-icon" alt="">
        </div>
        <div>
   <p style="font-size:1.2rem; color:#ffffff;"> : Lê Thành Công</p>
        </div>
       
        </div>
</a>      

        <div class="my-flex" style="height: 40px; line-height: 40px; margin-left: 15px;">
             <div>
 <img src="https://image.flaticon.com/icons/png/512/732/732200.png"  class="infor-icon" alt="">
     </div>
     <div>
 <p style="font-size:1.2rem; color:#ffffff;"> : lethanhcongcnhn@gmail.com</p>
     </div>
               </div>
    
     
        <div class="my-flex" style="height: 40px; line-height: 40px; margin-left: 15px;">
             <div>
             <img src="https://image.flaticon.com/icons/png/512/724/724664.png"  class="infor-icon" alt="">
       </div>
       <div>
<p style="font-size:1.2rem; color:#ffffff;"> : 0342910909</p>
       </div>
      
        </div>
       
      
      
        
    </div>
</div>
