<div class="my-toolbar">
  <div>
    <button mat-button routerLink="/">
      <img src="/assets/logo.png" class="my-logo" alt="" /><span class="logo-title">Love</span>
    </button>
  </div>

  <div class="search my-flex" >
    <input (keyup)="searchByFullName()"  [(ngModel)]="searchValue"  type="text" class="form-control"
      placeholder="..."><div class="search-icon"><img src="/assets/searchIcon.png" class="facebook-icon" alt=""></div>

      <div class="search-result" *ngIf="searchResult" >
          <div *ngFor="let result of searchResult; let i = index" >
            <div *ngIf="i<5" class="search-result-item" (click)="viewProfile(result.userId)">
              <span>&nbsp;<img [src]="result.avatar?result.avatar:'/assets/avatarBase.jpg'" class="my-avatar" alt=""></span>&nbsp;<span>{{ result.name}}</span>
            </div>
          </div>
      </div>

    </div>

  <div class="my-toolbar-items">
    <div class="mr-20">
      <a mat-stroked-button color="accent" *ngIf="!isLoggedIn" [routerLink]="['/login']">
        Đăng nhập
      </a>
      <div *ngIf="isLoggedIn && user != null && isAdmin">
        <a mat-button  mat-button [matMenuTriggerFor]="menuAdmin">
          Xin chào Admin: {{ user.username }}


          <img class="my-avatar" src="{{ !user.avatar ? 'assets/avatarBase.jpg' : user.avatar.url }}" alt="" />
        </a>
        <mat-menu #menuAdmin="matMenu">
          <button class="my-mat-menu text-center" mat-menu-item (click)="userDashboard()">
            Quản lý tài khoản
          </button>
          <a class="my-mat-menu text-center" mat-menu-item routerLink="/admin/viewsUser">
            Quản lý
          </a>
          <button class="my-mat-menu text-center" mat-menu-item (click)="logout()">
            Thoát
          </button>
        </mat-menu>
      </div>
      <!-- ngáo -->
      <div *ngIf="isLoggedIn && user != null && isUser">
        <a mat-button [matMenuTriggerFor]="menuUser" mat-button>
<!--          <mat-icon>paid</mat-icon>-->
          <span style="margin-right: 10px">{{ user.money ? (user.money | number:'1.0-2') : 0 }} VND</span>
          <img class="my-avatar" src="{{ !user.avatar ? 'assets/avatarBase.jpg' : user.avatar.url }}" alt="" />
        </a>
        <mat-menu #menuUser="matMenu">
          <button class="my-mat-menu text-center" mat-menu-item (click)="userDashboard()">
            Quản lý tài khoản
          </button>
          <button class="my-mat-menu text-center" mat-menu-item (click)="logout()">
            Thoát
          </button>
        </mat-menu>
      </div>

    </div>
    <div class="mr-20">
      <a mat-stroked-button color="accent" *ngIf="!isLoggedIn" [routerLink]="['/register']">
        Đăng ký
      </a>
    </div>
  </div>
</div>
