<div class="container " style="width:700px">
  <div class="row">
    <div class="text-center">
      <h2 style="font-weight: 500; color: #fc4ea5">Đơn đăng ký sử dụng dịch vụ</h2>

      <form [formGroup]="formOder">
<!--        <div >-->
<!--          <input-->
<!--            type="text"-->
<!--            style="width: 100%; height: 25px"-->
<!--            name="userId"-->
<!--            formControlName="id"-->
<!--            hidden-->
<!--          />-->
<!--        </div>-->

<!--        <div formGroupName="provider" name="provider">-->
<!--          <input-->
<!--            type="text"-->
<!--            style="width: 100%; height: 25px"-->
<!--            name="id"-->
<!--            formControlName="id"-->
<!--            hidden-->
<!--          />-->
<!--        </div>-->


      <div style="width:600px">   
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Địa điểm gặp gỡ</mat-label>
            <input
              matInput
              placeholder="address"
              name="address"
              formControlName="address"
            required
            />
          </mat-form-field>




        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Thơi gian thuê</mat-label>
          <input
            matInput
            placeholder="address"
            name="hour"
            type="number"
            formControlName="hour"
            (change)="showTotalPrice()"
            min="1"
            max="8"
            required
          />
          <mat-icon matSuffix>hour</mat-icon>
        </mat-form-field>



        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Thơi gian bắt đầu</mat-label>
          <input
            matInput
            placeholder="address"
            name="startTime"
            type="time"
            formControlName="startTime"
            required
          />
          <mat-error *ngIf="formOder.controls['address'].hasError('minlength')">Sai định dạng địa chỉ</mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ngày Hẹn</mat-label>
          <input
            matInput
            placeholder="address"
            name="day"
            type="date"
            formControlName="day"
            min="{{this.currentDay}}"
            (change)="showTotalPrice()"
            required
          />
        </mat-form-field>


        <!--            <mat-form-field appearance="outline" class="full-width" >-->
        <!--              <mat-label>Trạng thái</mat-label>-->
        <!--              <input matInput placeholder="address" name="status" type="date" formControlName="status" >-->
        <!--            </mat-form-field>-->
        <div>
          <mat-card><div class="mt-20" style="font-size: 25px; color: #f55193">Tổng Tiền : {{totalPrice | number:'1.0-2'}}VND</div></mat-card>
        </div>

        <div class="example-button-container mt-20" style="text-align: center">
          <button
            mat-flat-button
            color="accent"
            type="submit"
            (click)="createOrder()"
            [disabled]="formOder.invalid"
          >
            Xác nhận
          </button>
        </div>
      </div>

     
      </form>
    </div>
  </div>
</div>
