.table-order{
  border-width: medium;
  border: black;
  text-align: left;
  column-width: 100%;

}
table{
  border:1px solid black;
}
tr {

}
th{
  border:1px solid black;
  background-color: #ff7aa9;
}
td{
  border:1px solid black;
}
