<ngx-ui-loader
fgsColor="#fc5397"
text="Chờ chút nhé ❤"
pbColor="#fc5397"
textColor="#fc5397"
[pbThickness]="6"
[minTime]="100"
></ngx-ui-loader>

<div ngxUiLoaderBlurred [blur]="10"> 
<div class="container">
    <div class="row" >
      <div class="col-md-6"><img src="/assets/loginBackground.png" style="width:100%" alt=""></div>
      <div class="col-md-6">
        <mat-card class="text-center" >
  
          <form [formGroup]="formLogin" class="form-register">
            <h3>Form Login </h3>
            <mat-form-field appearance="outline" class="full-width" >
              <mat-label>Username</mat-label>
              <input matInput placeholder="UserName" name="username" formControlName="username">
              <mat-icon matSuffix>person</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline"  class="full-width">
              <mat-label>Fill form field</mat-label>
              <input matInput matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
           
  
            <div class="example-button-container"> 
              <button mat-flat-button color="accent"type="submit" (click)="login()">
                Đăng nhập
                <mat-icon>login</mat-icon>
              </button>
            </div>
  
  
          </form>
        </mat-card>
  
      </div>
    </div>
  
  </div>
</div>
  
