<div class="container">
    <div class="row">
      <div class="text-center">
        <h2 style="font-weight: 500; color: #fc4ea5">Yêu cầu cập đầy đủ thông tin phản hồi</h2>
        <mat-divider></mat-divider>
        <form class="mt-20">
          <div class="my-dialog-order">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nội dung</mat-label>
                <textarea name="description"
                rows="4" cols="50"
                [(ngModel)]="createFeedBackRequest.description" matInput placeholder="Placeholder">
                </textarea>
              </mat-form-field>
                <mat-label>Số sao:</mat-label>
                <mat-radio-group  value="{{createFeedBackRequest.starRating}}" [(ngModel)]="createFeedBackRequest.starRating" name="starRating">
                    <mat-radio-button class="example-margin"  value="1">1</mat-radio-button>
                    <mat-radio-button  class="example-margin" value="2">2</mat-radio-button>
                    <mat-radio-button class="example-margin" value="3">3</mat-radio-button>
                    <mat-radio-button class="example-margin" value="4">4</mat-radio-button>
                    <mat-radio-button class="example-margin"  value="5">5</mat-radio-button>
                  </mat-radio-group>
                  <div class="mt-20">
                       <button mat-stroked-button  color="accent" (click)="createFeedBack()" >Gửi phản hồi</button>
                  </div>
             
          </div>
            
        </form>
        
      </div>
    </div>
  </div>
