<div class="container">
  <div class="row mb-20">
    <div class="my-flex" style="justify-content:space-around ;">
      <div class="my-flex">
        <div class="mr-10">
          <button class="search-button " mat-button
                  [matMenuTriggerFor]="menuGender">{{searchFilter.gender ? searchFilter.gender : "Giới tính"}}</button>
          <mat-menu #menuGender="matMenu">
            <button mat-menu-item (click)="setGenderSearch('Nam')">Nam</button>
            <button mat-menu-item (click)="setGenderSearch('Nữ')">Nữ</button>
          </mat-menu>
        </div>
        <div class="mr-10">
          <button class="search-button" mat-button
                  [matMenuTriggerFor]="menuAddress">{{searchFilter.city ? searchFilter.city : "Sống tại"}}</button>
          <mat-menu #menuAddress="matMenu">
            <button *ngFor="let city of cities" (click)="setAddressSearch(city.name)"
                    mat-menu-item>{{city.name}}</button>
          </mat-menu>
        </div>
        <div class="mr-10">
          <button class="search-button" mat-button
                  [matMenuTriggerFor]="menuPrice">{{searchFilter.price ? 'dưới ' + searchFilter.price + 'đ' : "Khoảng giá"}}</button>
          <mat-menu #menuPrice="matMenu">
            <button (click)="setPriceSearch(100000)" mat-menu-item>dưới 100.000đ</button>
            <button (click)="setPriceSearch(300000)" mat-menu-item>dưới 300.000đ</button>
            <button (click)="setPriceSearch(500000)" mat-menu-item>dưới 500.000đ</button>
          </mat-menu>
        </div>
      </div>
      <div>
        <button class="search-accept" (click)="searchFilterRequest()" mat-raised-button color="accent" mat-button><span><img
          src="/assets/searchButton.png" class="facebook-icon"></span> Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="searchList" style="margin-bottom: 70px">
    <div style="display: flex; justify-content:space-between;">
      <div>
        <h1
          style="color: #fc4786; font-weight: 500; font-size: 2rem">{{searchList.length > 0 ? "Kết quả" : "Không có kết quả"}}</h1>
      </div>
    </div>

    <div class="col-md-3 mt-20" *ngFor="let provider of searchList;let i = index">

      <mat-card
        *ngIf="i<8"
        class="my-card-home"
        (click)="userInformationPage(provider.userId)"
      >
        <div style="padding: relative;"><img mat-card-image style="height: 330px" [src]="provider.avatar"/></div>
        <div class="my-price">{{provider.priceByHour | number:'1.0-2'}} đ/h</div>

        <mat-card-content>
          <h2 style="color: #fc4786">
            {{ provider.name }}
            <span
            ><img src="/assets/hearts.png" class="infor-icon" alt=""
            /></span>
          </h2>
          <mat-card-subtitle>
            <span>
              <img src="/assets/love.png" class="infor-icon" alt=""
              /></span>
            {{
            provider.description
              ? provider.description.substring(0, 20) + "..."
              : ""
            }}
          </mat-card-subtitle>

          <span><img src="/assets/i1Icon.png" class="infor-icon" alt=""/></span
          ><span
          style="display: inline"
          *ngFor="let service of provider.servicesName; let i = index"
        >
            <mat-card-subtitle *ngIf="i < 3" style="display: inline">
              {{ service }},</mat-card-subtitle
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row">
    <div style="display: flex; justify-content:space-between;">
      <div>
        <h1 style="color: #fc4786; font-weight: 500; font-size: 2rem">Tất cả</h1>
      </div>
      <div>
        <a
          mat-stroked-button color="accent"
          (click)="backPageAll($event)"
          aria-label="Previous"
          *ngIf="pageAll>0"
        >
          <img src="/assets/previous.png" class="infor-icon" alt=""> <span class="sr-only"> Quay lại</span>
        </a>

        <a
          mat-stroked-button color="accent"
          (click)="nextPageAll($event)"
          aria-label="Next"
          *ngIf="pageAll<totalPagesAll-1"
        >
          <span class="sr-only">Xem tiếp </span> <img src="/assets/next.png" class="infor-icon" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-3 mt-20" *ngFor="let provider of allProvider">
      <mat-card
        class="my-card-home"
        (click)="userInformationPage(provider.userId)"
      >
        <div style="padding: relative;"><img mat-card-image style="height: 330px" [src]="provider.avatar"/></div>
        <div class="my-price"><h2>{{provider.priceByHour | number:'1.0-2'}} đ/h</h2></div>
        <mat-card-content>
          <h2 style="color: #fc4786">
            {{ provider.name }}
            <span
            ><img src="/assets/hearts.png" class="infor-icon" alt=""
            /></span>
          </h2>
          <mat-card-subtitle>
            <span>
              <img src="/assets/love.png" class="infor-icon" alt=""
              /></span>
            {{
            provider.description
              ? provider.description.substring(0, 20) + "..."
              : ""
            }}
          </mat-card-subtitle>

          <span><img src="/assets/i1Icon.png" class="infor-icon" alt=""/></span
          ><span
          style="display: inline"
          *ngFor="let service of provider.servicesName; let i = index"
        >
            <mat-card-subtitle *ngIf="i < 3" style="display: inline">
              {{ service }},</mat-card-subtitle
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row" style="margin-top: 70px">
    <div style="display: flex; justify-content:space-between;">
      <div>
        <h1 style="color: #fc4786; font-weight: 500; font-size: 2rem">Views</h1>
      </div>
      <div>
        <a
          mat-stroked-button color="accent"
          (click)="backPageAll2($event)"
          aria-label="Previous"
          *ngIf="pageAll2>0"
        >
          <img src="/assets/previous.png" class="infor-icon" alt=""> <span class="sr-only"> Quay lại</span>
        </a>

        <a
          mat-stroked-button color="accent"
          (click)="nextPageAll2($event)"
          aria-label="Next"
          *ngIf="pageAll2<totalPagesAll-1"
        >
          <span class="sr-only">Xem tiếp </span> <img src="/assets/next.png" class="infor-icon" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-3 mt-20" *ngFor="let provider of allProviderByViews">
      <mat-card
        class="my-card-home"
        (click)="userInformationPage(provider.userId)"
      >
        <div style="padding: relative;"><img mat-card-image style="height: 330px" [src]="provider.avatar"/></div>
        <div class="my-price"><h2>{{provider.priceByHour | number:'1.0-2'}} đ/h</h2></div>
        <mat-card-content>
          <h2 style="color: #fc4786">
            {{ provider.name }}
            <span
            ><img src="/assets/hearts.png" class="infor-icon" alt=""
            /></span>
          </h2>
          <mat-card-subtitle>
            <span>
              <img src="/assets/love.png" class="infor-icon" alt=""
              /></span>
            {{
            provider.description
              ? provider.description.substring(0, 20) + "..."
              : ""
            }}
          </mat-card-subtitle>

          <span><img src="/assets/i1Icon.png" class="infor-icon" alt=""/></span
          ><span
          style="display: inline"
          *ngFor="let service of provider.servicesName; let i = index"
        >
            <mat-card-subtitle *ngIf="i < 3" style="display: inline">
              {{ service }},</mat-card-subtitle
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row" style="margin-top: 70px">
    <div style="display: flex; justify-content:space-between;">
      <div>
        <h1 style="color: #fc4786; font-weight: 500; font-size: 2rem">Hot <span
        ><img src="/assets/hotIcon.png" style="width:40px;height: 40px;" alt=""
        /></span></h1>
      </div>
      <div>
        <a
          mat-stroked-button color="accent"
          (click)="backPageAll3($event)"
          aria-label="Previous"
          *ngIf="pageAll3>0"
        >
          <img src="/assets/previous.png" class="infor-icon" alt=""> <span class="sr-only"> Quay lại</span>
        </a>

        <a
          mat-stroked-button color="accent"
          (click)="nextPageAll3($event)"
          aria-label="Next"
          *ngIf="pageAll3<totalPagesAll-1"
        >
          <span class="sr-only">Xem tiếp </span> <img src="/assets/next.png" class="infor-icon" alt="">
        </a>
      </div>
    </div>
    <div class="col-md-3 mt-20" *ngFor="let provider of allProviderByRentals">
      <mat-card
        class="my-card-home"
        (click)="userInformationPage(provider.userId)"
      >
        <div style="padding: relative;"><img mat-card-image style="height: 330px" [src]="provider.avatar"/></div>
        <div class="my-price"><h2>{{provider.priceByHour | number:'1.0-2'}} đ/h</h2></div>
        <mat-card-content>
          <h2 style="color: #fc4786">
            {{ provider.name }}
            <span
            ><img src="/assets/hearts.png" class="infor-icon" alt=""
            /></span>
          </h2>
          <mat-card-subtitle>
            <span>
              <img src="/assets/love.png" class="infor-icon" alt=""
              /></span>
            {{
            provider.description
              ? provider.description.substring(0, 20) + "..."
              : ""
            }}
          </mat-card-subtitle>

          <span><img src="/assets/i1Icon.png" class="infor-icon" alt=""/></span
          ><span
          style="display: inline"
          *ngFor="let service of provider.servicesName; let i = index"
        >
            <mat-card-subtitle *ngIf="i < 3" style="display: inline">
              {{ service }},</mat-card-subtitle
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <app-chat></app-chat>
</div>




