/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; background-color: #ffedf8; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center;
}
.full-width{
    width: 100%;
}
.half-width{
    width: 50%;
}

.my-navbar{
  
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index:100;
   
}
.example-spacer {
    flex: 1 1 auto;
  }

.mt-20{
 margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}

.mt-10{
 margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.my-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #4d465a;
}
.my-toolbar{
    display: flex;
    justify-content: space-between;
    background-color: 
    #ffffff;
    height:75px;
    line-height: 75px;
    box-shadow: 0 3px 10px rgb(94 113 131 / 0.8);
}
.mr-50{
    margin-right: 50px;
}
.my-toolbar-items{
    display: flex;
}

.my-login-background{
    background-color: #d8dadb;
}

.magin-navbar{
    margin-top:120px;
}

.avatar-profile{
    width: 200px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid #4d465a;
}
.my-card{
    box-shadow:  0 3px 10px rgb(252 83 148 / 1) !important;
}

.text-count{
    color: #fc5394;
    font-size: 1.2rem;
}
.my-flex{
    display: flex;
}

.image-infor{
    width: 130px;
    height: 130px; 
    border: 1px solid #4d465a;
    margin: 5px;  
}
.princeByHour{
    font-weight: 500;
    font-size: 2rem;
    color: #fc5394;
}